@using Microsoft.AspNetCore.Identity
@using KulinarikaApp.Authorization
@using Microsoft.AspNetCore.Authorization

@inject UserManager<ApplicationUser> UserManager
@inject IAuthorizationService AuthorizationService

@model KulinarikaApp.Models.Recipe

@{
    ViewData["Title"] = "Details";
}

@{
    var isAuthorizedDelete = await AuthorizationService.AuthorizeAsync(
        User, Model, RecipeOperations.Delete);
}


<div class="container">
    <div class="row">
        <h1 class="capitalizeFirstLetter">@Html.DisplayFor(model => model.Title)</h1>
    </div>

    <div class="row">
        <div class="col-8">
            <h4>Kuhar: @Model.User.FristName @Model.User.LastName</h4>
        </div>
        <div class="col-4" style="text-align: right">
            @if (isAuthorizedDelete.Succeeded)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model?.Id">Remove</a>
            }
            @if (User.Identity.IsAuthenticated && UserManager.GetUserId(User) != Model.User.Id)
            {
                <a asp-controller="Bookmarks" asp-action="Create" asp-route-id="@Model?.Id">Add bookmark</a>
            }
        </div>
    </div>
    <hr/>
    <div class="row ">
        <div class="col-12">
            <p style="font-family: Arial,serif">@Html.DisplayFor(model => model.RecipeText)</p>
        </div>
    </div>
</div>
<hr/>


<div class="container" style="border: 1px solid darkgrey">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row" style="margin-top: 20px">
            <div class="col-md-4">
                <form id="myForm" asp-action="AddComment" asp-route-id="@Model.Id" method="post">
                    <input type="text" name="commentText" class="form-control"/>
                    <input type="submit" class="btn btn-primary" value="Komentiraj" style="margin-top: 5px; margin-bottom: 15px"/>
                </form>
            </div>
        </div>
    }
    @if (Model.Comments != null)
    {
        foreach (var item in Model.Comments)
        {
            string username = item.User.FristName + " " + item.User.LastName;
            <hr/>
            <div class="container" style="margin: 10px">
                <div class="row" style="">
                    <p class="fw-bold" style="color: rgba(59,130,246,0.5)">@username</p>
                </div>
                <div class="row">
                    <p>@item.CommentText</p>
                </div>
            </div>
        }
    }
</div>